ion-card:first-of-type {
    margin: 0px;
}

ion-card {
    margin: 10px 0px;
    padding: 5px 0px;
    background-color: white;
}

ion-item.shipping-select > ion-icon {
    display: none;
    color: #025296;
}

ion-item.selected > ion-icon {
    display: initial;
}