<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons>
      <ion-back-button defaultHref="/preference"></ion-back-button>
      <ion-title>About Us</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h3>EveryBuy</h3>
    <p>
      &emsp;Founded in 2019 by EveryBuy Inc. It is a new mobile eCommerce platform. 
      We are accelerating progress in Southeast region, embarking to make our first step on the Western region 
      through commerce and technology.
    </p>
    <p>
      &emsp;With the largest logistics and payments networks in the region, 
      EveryBuy is a part of our consumers’ daily lives in the region and we aim to serve 
      300 million shoppers by 2030.
    </p>
    <p>
      &emsp;Consumers are now able to use our platform to shop various products online 
      using their mobile phones.
    </p>
  </div>
</ion-content>