<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar>
    <ion-searchbar placeholder="Search by Product Name" style="width: 90%; margin: auto;" slot="start" (ionChange)="onSearchChange($event)"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="filterProduct()">
        <ion-icon name="funnel"></ion-icon>
        <label>Filter</label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ng-template [ngIf]="products && products.length > 0" [ngIfElse]="noProduct">
    <!-- <ion-virtual-scroll [items]="products" approxItemHeight="320px">
      <ion-item class="item-thumbnail-left" *virtualItem="let product;" [routerLink]="['/product-details/' + product.product_id]">
        <ion-img class="image" [src]="product.thumbnail_image_st"></ion-img>
        <div class="item-info">
          <p class="prod-name">
            {{product.product_name_st}}
          </p>
          <p class="price">
            RM {{product.product_price_nm.toFixed(2)}}
          </p>
        </div>
      </ion-item>
    </ion-virtual-scroll> -->
    <ion-list>
      <ion-item *ngFor="let product of products" class="item-thumbnail-left" [routerLink]="['/product-details/' + product.product_id]">
        <ion-img class="image" [src]="product.thumbnail_image_st"></ion-img>
        <div class="item-info">
          <p class="prod-name">
            {{product.product_name_st}}
          </p>
          <p class="price">
            RM {{product.product_price_nm.toFixed(2)}}
          </p>
        </div>
      </ion-item>
    </ion-list>
  </ng-template>
  <ng-template #noProduct>
    <p style="padding: 0px 10px;">No product found</p>
  </ng-template>
</ion-content>
<app-tabs></app-tabs>