<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button color="secondary" fill="clear" (click)="dismissModal()">
        <ion-icon name="arrow-back" style="font-size: 20pt;"></ion-icon>
      </ion-button>
      <ion-title>Delivery Address Selection</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-template [ngIf]="deliveryAddresses && deliveryAddresses.length > 0">
    <ion-card *ngFor="let deliveryAddress of deliveryAddresses">
      <ion-item lines="none" [ngClass]="selectedDeliveryId === deliveryAddress.delivery_id ? 'selected': ''" class="delivery-select" (click)="selectDeliveryAddress(deliveryAddress.delivery_id)" [attr.data-id]="deliveryAddress.delivery_id">
        <ion-label class="ion-text-wrap" style="color: #4E4E4E; font-family: sans-serif;">
          <ion-text>{{deliveryAddress.rec_name_st}}</ion-text>
          <br/>
          <label>{{deliveryAddress.rec_phone_st}}</label>
          <br/>
          <ion-text>
            <label>{{deliveryAddress.address1_st + ", " + (deliveryAddress.address2_st == null ? "" : deliveryAddress.address2_st + ", ") + deliveryAddress.zipcode_st + " " + deliveryAddress.state_st}}</label>
          </ion-text>
        </ion-label>
        <ion-icon name="checkmark" size="small"></ion-icon>
      </ion-item>
    </ion-card>
  </ng-template>
  <ion-card>
    <ion-item lines="none" detail=true (click)="presentAddDeliveryModal()">
      <ion-label>Add new delivery address</ion-label>
    </ion-item>
  </ion-card>
</ion-content>