.field-title {
    width: 50%;
    text-align: left;
    float: left;
}

.field-value {
    width: 50%;
    text-align: right;
    float: left;
    color: black;
}

.receipt-container {
    border-radius: 10px;
    border: 1px solid black;
    padding: 0px 1rem 1rem;
    margin: 1rem 2rem;
}